<body>

    <div class="container-hero">
        <img class="hero-image" src="../../assets/hero.jpg" alt="imagen de fiesta">
        <div class="hero-text">
            <h1>Articulos de fiesta</h1>
            <p>Consigue los mejores articulos de fiesta aqui</p>
            <p>Nuestras categorias son las siguientes:</p>
        </div>
    </div>


    <div id="carouselExampleAutoplaying" class="carousel slide" style="margin-top: 4rem;" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/hero_fiesta.jpg" class="d-block " style="max-height: 360px; margin: auto auto;"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/hero.jpg" class="d-block " style="max-height: 360px; margin: auto auto;"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/hero.jpg" class="d-block" style="max-height: 360px; margin: auto auto;"
                    alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <!--Cards-->
    <div class="row row-cols-3 row-cols-md-3 g-4 w-50" style="margin: auto auto;">
        <div class="col">
          <div class="card">
            <img src="../../assets/hero_fiesta.jpg" class="card-img-top"  alt="...">
            <div class="card-body" style="background-color: #d9ae69">
              <h5 class="card-title">Globos</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/hero_fiesta.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: #d9ae69">
              <h5 class="card-title">Velas</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/hero_fiesta.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: #d9ae69">
              <h5 class="card-title">Arreglos</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/hero_fiesta.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="background-color: #d9ae69">
              <h5 class="card-title">Especiales</h5>
            </div>
          </div>
        </div>
      </div>
  
</body>